html body p {
	font-family: 'Raleway', sans-serif;
}

.topRow .intro {
	padding-left: 60px;
}

.topRow .buttons {
	margin: 0px;
}

.port, .about {
	color: #FFF;
	padding: 10px;
	margin-right: 10px;
}

.port:hover {
	background-color: #FFF;
	border: 2px solid #E7A83E;
}

.port:hover p {
	color: #E7A83E;
}

.about:hover {
	background-color: #FFF;
	border: 2px solid #77B29C;
}

.about:hover p {
	color: #77B29C;
}

.port p, .about p, .contact p {
	margin-bottom: 0px;
}

footer {
	text-align: center;
	padding: 20px;
}

footer p {
	margin-bottom: 0px;
}

.port {
	background-color: #E7A83E;
}

.about {
	background-color: #77B29C;
}

.contact {
	background-color: #94A5B3;
	color: #FFF;
}

.contact:hover {
	background-color: #FFF;
	border: 2px solid #94A5B3;
}

.contact:hover p {
	color: #94A5B3;
}

main {
	background-color: #E7A83E;
	text-align: center;
}

.smImgs {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
	margin: 20px 0 20px 0;
}

.smImgs article {
	padding: 0px;
}

.aboutSec {
	background-color: #77B29C;
	color: #FFF;
	text-align: center;
	display: flex;
	justify-content: center;
	padding: 15px;
}

.contactSec {
	display: flex;
	justify-content: center;
	background-color: #94A5B3;
	padding: 20px;
}

.contactInfo {
	display: flex;
	justify-content: center;
	flex-direction: row;
	color: #FFF;
}

.phone, .email {
	display: flex;
	justify-content: center;
	flex-direction: column;
	margin-right: 10px;
}

.contactInfo .fa-phone, .contactInfo .fa-envelope {
	font-size: 4em;
}

.contactInfo p {
	font-size: 1.25em;
}