.port, .about {
	color: #FFF;
	padding: 10px;
}

.port:hover {
	background-color: #FFF;
	border: 2px solid #73A8AF;
}

.port:hover p {
	color: #73A8AF;
}

.about:hover {
	background-color: #FFF;
	border: 2px solid #B2B6AB;
}

.about:hover p {
	color: #B2B6AB;
}

.port p, .about p {
	margin-bottom: 0px;
}

.port {
	margin-right: 10px;
	background-color: #73A8AF;
}

.about {
	background-color: #B2B6AB;
}

main {
	background-color: #E7A83E;
	text-align: center;
}

.smImgs {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	text-align: center;
	margin-top: 20px;
}

.smImgs article {
	padding: 0px;
}

.aboutSec {
	background-color: #77B29C;
	color: #FFF;
	text-align: center;
	display: flex;
	justify-content: center;
}

.contactSec {
	display: flex;
	justify-content: center;
	background-color: #94A5B3;
}

.contactInfo {
	display: flex;
	justify-content: center;
	flex-direction: row;
}