<!DOCTYPE html>
<html ng-app="hour">
<head>
	<title>Build a site in an hour</title>
	<meta name="description" content="Tutorial on how to build a site in an hour.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="https://use.fontawesome.com/8aa36c7c3c.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="js/resources/angular-route.min.js"></script>
</head>
<body ng-controller="mainCtrl">

	<main>
		<section>
			<h1>From zero to "I built that"</h1>
			<p>How to build a website in an hour</p>
		</section>
	</main>
	<div class="downArrow" ng-click="showDivs()">
		<i class="fa fa-angle-double-down" aria-hidden="true"></i>
	</div> <!-- on click show other divs -->

	<section ng-show="show" class="nextSteps">
		<article class="tutorial" ng-click="showTutorial()">
			<p>Tutorial</p>
		</article>
		<article class="resources" ng-click="showResources()">
			<p>Resources</p>
		</article>
	</section>

	<section ng-show="tut" class="tut">
		<h2>Let's begin</h2>
		<p>Before we start typing a line of code we </p>
	</section>

	<section ng-show="res" class="res">
		<p>here is the full resources section</p>
	</section>

	<section ng-view>
		
	</section> <!-- this will load one of the two templates -->

	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="js/controllers/mainCtrl.js"></script>
</body>
</html>