<!DOCTYPE html>
<html ng-app="hour">
<head>
	<title>Build a site in an hour</title>
	<meta name="description" content="Tutorial on how to build a site in an hour.">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="css/styles.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<script src="https://use.fontawesome.com/8aa36c7c3c.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="js/resources/angular-route.min.js"></script>
</head>
<body ng-controller="mainCtrl">

	<main>
		<section>
			<h1>From zero to "I built that"</h1>
			<p>How to build a website in an hour</p>
		</section>
	</main>
	<div class="downArrow" ng-click="showDivs()">
		<i class="fa fa-angle-double-down" aria-hidden="true"></i>
	</div> <!-- on click show other divs -->

	<section ng-show="show" class="nextSteps">
		<article class="tutorial" ng-click="showTutorial()">
			<p>Tutorial</p>
		</article>
		<article class="resources" ng-click="showResources()">
			<p>Resources</p>
		</article>
	</section>

	<section ng-show="tut" class="tut">
		<h2>Let's begin</h2>
		<p>Before we start typing a line of code we will cover a few basic topics.</p>
		<p>Here are some keywords that you should start to become firmilar with.</p>
		<ul>
			<li>Text editor:
				<ul>
					<li>You need to write your code in a text editor</li>
					<li>The default text editor for window is <a href="https://en.wikipedia.org/wiki/Notepad%2B%2B" target="_blank">Notepad++</a></li>
					<li>The default text editor for mac is <a href="https://en.wikipedia.org/wiki/TextEdit" target="_blank">Textedit</a></li>
					<li>You can also download and install <a href="https://www.sublimetext.com/" target="_blank">Sublime Text</a></li>
				</ul>
			</li>
			<li>Syntax - </li>
			<li>Frontend - </li>
			<li>Backend - </li>
		</ul>
		<p>If you want to continue to build website then you should take the time to install either Sublime Text or another text editor you really like. A text editor like Sublime Text has many great features that the default text editors don't offer. (Such as syntax highlighting and autocompletion.)</p>

		<h2>Communication</h2>
		<p>We are going to focus on frontend development. There are three languages we are going to focus on for frontend development.</p>
		<ul>
			<li><a href="http://www.w3schools.com/html/default.asp" target="_blank">HTML</a> - Hyper Text Markup Language. This will be used for the layout of our site, providing layout and structure. </li>
			<li><a href="http://www.w3schools.com/css/default.asp" target="_blank">CSS</a> - Cascading Style Sheet. This will add the styles to our site. Using CSS you can adjust the colors, fonts, images, adjust the widths and heights of elements and so much much. (With CSS3 you can even do animations!)</li>
			<li><a href="http://www.w3schools.com/js/default.asp" target="_blank">JavaScript</a> - </li>
		</ul>
		<p>With these three languages we are going to create our website!</p>

		<h2>The structure - HTML</h2>
		<p>Before we add our colors or any images we need to create the structure of our site.</p>
	</section>

	<section ng-show="res" class="res">
		<p>here is the full resources section</p>
	</section>

	<section ng-view>
		
	</section> <!-- this will load one of the two templates -->

	<script type="text/javascript" src="js/main.js"></script>
	<script type="text/javascript" src="js/controllers/mainCtrl.js"></script>
</body>
</html>